body {
  color: white;
  // font-family: 'Roboto', sans-serif;  
  font-family: courier;
  margin: 0; 
}

html {
  font-size: 62.5%;
  background: black;
  background-size: cover;
  background-repeat: no-repeat;
}

// url('/images/ohio_cloud.jpg') fixed;