.header-container {
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 1000;
}

.header {
  background:white; 
  font-family: 'Faster One', cursive;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
  z-index: 10;
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.header-link {
  cursor: pointer;
  text-decoration: none;
}

.header-title {
  color: black;
  font-size: 3rem;
  white-space: pre;

  @media (max-width: 644px) {
    font-size: 2rem;
  }
}
