.landing-headline {
  padding-top: 15rem;
  text-align: center;
  width: 100%;

  h1 {
    font-size: 6rem;

    @media (max-width: 770px) {
      font-size: 4rem;
    }
    @media (max-width: 644px) {
      font-size: 2.5rem;
    }
  }
}

.landing-link-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;

  @media (min-width: 644px) {
    flex-direction: row;
    align-items: baseline;
  }

  @media (min-width: 770px) {
    flex-direction: row;
    align-items: baseline;
  }
}

.landing-link {
  color: white;
  margin: 0 0.5rem;
  max-width: 100%;
  text-decoration: none;

  @media (min-width: 644px) {
    max-width: 50%;
  }

  @media (min-width: 770px) {
    max-width: 50%;
  }
}

.landing-link__header {
  font-size: 1rem;
  padding: 0 1rem;

  h2 {
    margin: 1rem 0 0;
  }

  @media (min-width: 770px) {
    font-size: 2rem;
    padding: 0 1rem;
  }
  @media (min-width: 644px) {
    font-size: 1.5rem;
    margin: 1.5rem;
    padding: 0 1rem;
  }
}

.landing-link__body {
  font-size: 1rem;

  p {
    margin-top: 0;
  }

  @media (min-width: 770px) {
    font-size: 2rem;
  }
  @media (min-width: 644px) {
    font-size: 1.5rem;
    margin: 1.5rem;
  }
}
