
.sub-header {
  background: red;
  display: flex;
  margin: 0;
  opacity: 0.95;
  padding: 0.5rem;
  width: 100%;
}

.sub-header-content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
}

.sub-header-title {
  font-size: 1rem;
  padding-bottom: 0;

  p {
    margin: 0;
  }

  @media (min-width: 644px) {
   font-size: 1.2rem;
  }
}

.sub-header-form {
  font-family: courier;
  font-size: 1rem;
  margin: 0;
  padding-top: 0.1rem;

  select {
    appearance: none;
    background: red;
    border: none;
    color: white;
    font-family: courier;
    font-size: 1rem;
    outline: none;
    padding-top: 0.1rem;
  }

  select:hover {
    cursor: pointer;
  }

  @media (min-width: 644px) {
    font-size: 1.2rem;
    font-weight: 100;

    select {
      font-size: 1.2rem;
      font-weight: 100;
    }
  }
}